@media screen and (max-width: 599px) {
    .box {
        /* largura da caixa Para Dispositivos Móveis*/
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 6vh;
        max-width: 500px;
    }

    #image img{
        width: 100px !important;
    }

    li {
        margin-right: 4px !important;
        align-items: center;
    }

    .balanco label {
        margin-left: 1px !important;
    }

    .list {
        font-size: 14px;
    }

    .inputBox .selects {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    .box {
        /*largura da caixa Para Dispositivos Desktop*/
        width: 50%;
        margin: auto;
        margin-top: 10vh;
        max-width: 500px;
    }

    .list a {
        font-size: 18px !important;

    }

    .inputBox {
        font-size: 18px !important;
    }

    .inputBox .selects {
        font-size: 18px;
    }

    #helpModal {
        margin-top: 10% !important;
    }

    #valorinn {
        padding-left: 29px !important;
    }
}

@media screen and (max-height: 700px) {
    .box{
        margin-top: 3vh;
    }
}
:root {
   --primary-color: #ffc40096 ;
   --button-color: #ffa406;
   --legend-color: rgba(255, 255, 255, 0.557);
   --color-bg: rgb(155, 155, 155); /* Cor de fundo */
    --color-border: rgb(166, 166, 166); /* Cor da borda */
    --color-shadow: rgba(255, 255, 255, 0.215); /* Cor da sombra */
    --color-text: #fff; /* Cor do texto */
}

* {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/GoldenSoftAppFrontEnd/resources/img/oat-ups.png');
    background-image: no-repeat;
    /*background: radial-gradient(circle, rgba(12, 76, 86, 1) 0%, rgba(17, 68, 84, 1) 49%, rgba(10, 35, 41, 1) 100%);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    transition: all 0.4s ease;
}

#image{
       margin: auto;
       display: flex;
       justify-content: center;
       padding: 0;
       margin-top: 0;
       
}

#image img{
    padding: 0;
    margin-top: -20px;
    width: 128px;
}

.box {
    color: white;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.559);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    backdrop-filter: blur(2px);
}

.modal {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    /* Fica fixo na tela */
    z-index: 1;
    /* Fica na frente de outros elementos */
    left: 0;
    top: 0;
    margin: 15% 5% !important;
    width: 90vw !important;
    /* Largura total */
    height: 100%;
    /* Altura total */
    overflow: auto;
    /* Rolagem se necessário */
    background-color: rgb(0, 0, 0);
    /* Fallback de cor */
    background-color: rgba(0, 0, 0, 0.555);
    /* Preto com opacidade */
}

.close {
    margin-top: -11px;
    margin-right: -5px;
    color: #aaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#helpModal {
    font-size: 16px;
    font-family: 'Rubik' !important;
    color: black;
    background-color: #ebebeb;
    margin: 15% auto;
    /* 15% de cima e centralizado horizontalmente */
    padding: 20px;
    padding-top: 0px !important;
    border: 1px solid #888;
    width: 100%;
    /* Largura do conteúdo do modal */
    height: fit-content;
    border-radius: 8px;
}


#help {
    float: left;
    margin: 0;
    font-size: 25px;
    cursor: pointer;
}

.info,
#nomeusuario {
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #86868600;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif !important;
}

#nomeusuario {
    font-family: 'Rubik' !important;
    padding: 4px 10px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: -7px;
    margin-top: -20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#config {
    float: right;
    margin: 0;
    font-size: 25px;
    cursor: pointer;
}

#configModal {
    font-size: 16px;
    font-family: 'Rubik' !important;
    color: black;
    background-color: #ebebeb;
    margin: 15% auto;
    /* 15% de cima e centralizado horizontalmente */
    padding: 20px;
    padding-top: 0px !important;
    border: 1px solid #888;
    width: fit-content;
    /* Largura do conteúdo do modal */
    height: fit-content;
    border-radius: 8px;
}

.balanco {
    padding: 4px 10px;
    border-radius: 2px;
    margin-bottom: -16px;
    margin-top: -5px;
    display: flex;
    align-items: center;
}

.eye {
    margin-left: 5px;
    width: 30px;
    float: right;
    filter: invert(100%);
    cursor: pointer;
}

.eye1 {
    margin-left: 5px;
    width: 28px;
    float: right;
    filter: invert(100%);
    cursor: pointer;
}

.menu i {
    font-size: 30px;
    margin-right: 3px;
    margin-left: -10px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 5px;
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding-block: 10px;
    border-radius: 10px;
}

li {
    float: left;
}

nav.menu {
    z-index: 1;
    top: 0;
}

.menu {
    /*color: rgb(255, 255, 255);*/
    font-weight: bold;
    padding-top: 3.5px;
    margin-bottom: 5px;
    background-color: #7d7d7d96;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;

}

.wrapper .menu li a {
    color: rgb(255, 255, 255);
}

.list {
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #424242 0, #5c5c5ce6 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(116, 116, 116, 0.3) 0 7px 13px -3px, var(--color-shadow) 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    font-family: 'JetBrains Mono';
    line-height: 1;
    z-index: 1;
    list-style: none;
    overflow: hidden;
    padding: 6px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.list:hover {
    box-shadow: var(--color-shadow) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #424242 0 -3px 0 inset;
    transform: translateY(-2px);
}

.list:focus {
    box-shadow: #424242 0 0 0 1.5px inset, rgba(41, 77, 97, .4) 0 2px 4px, rgba(41, 77, 97, .3) 0 7px 13px -3px, #fff 0 -3px 0 inset;
}

.list:active {
    box-shadow: #888 0 3px 7px inset;
    transform: translateY(2px);
}

legend {
    padding: 10px;
    background-color: var(--legend-color);
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
}

legend b {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

i {
    top: 5px;
}

.usuario {
    margin-bottom: 5px;
}

.inputBox {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin-bottom: -5px;
}

.inputBox option select {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputBox .selects {
    font-weight: bold;
}

#valorinn {
    margin-bottom: -25px;
}

#valorinn,
#descricao {
    height: 40px;
}

.selects {
    font-size: 14px;
    width: 100%;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.inputUser {
    background: none;
    border: none;
    /*border: 1px solid white;*/
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffffec;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 100%;
    font-weight: 550;

}

#valorinn {
    padding-left: 27px;
}

#valorout {
    margin-top: 0.1em;
}

.labelInput {
    color: #000000;
    position: absolute;
    top: 8px;
    left: 5px;
    pointer-events: none;
    transition: .5s;
}

label {
    margin-bottom: 1.5px;
}

a:hover {

    text-decoration: none;
}

.inputUser~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

#observacao.inputUser {
    height: 37px;
}

#data {
    border: none;
    padding: 8px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 0px;
    font-weight: bold;
}

#submit {
    font-weight: bold;
    appearance: none;
    background-color: var(--color-bg); /* Usando variável de cor de fundo */
    border-radius: 8px;
    border-width: 0.5px;
    border-color: var(--color-border); /* Usando variável de cor da borda */
    box-shadow: rgba(166, 166, 166, 0.2) 0 2px 4px, rgba(149, 149, 149, 0.15) 0 7px 13px -3px, var(--color-shadow) 0 -3px 0 inset; /* Usando variável de sombra */
    box-sizing: border-box;
    color: var(--color-text); /* Usando variável de cor do texto */
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    transition: box-shadow 0.2s, transform 0.25s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
    display: flex;
    height: 40px;
    width: 245px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

#submit:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(198, 198, 198, 0.4) 0 2px 4px, rgba(242, 242, 242, 0.3) 0 7px 13px -3px, var(--color-shadow) 0 -3px 0 inset; /* Usando variável de sombra */
}

#submit:hover {
    box-shadow: rgba(148, 148, 148, 0.185) 0 4px 8px, rgba(135, 135, 135, 0.2) 0 7px 13px -3px, var(--color-shadow) 0 -3px 0 inset; /* Usando variável de sombra */
    transform: translateY(-2px);
}

#submit:active {
    box-shadow: var(--color-bg) 0 3px 7px inset; /* Usando variável de cor de fundo */
    transform: translateY(2px);
}

.exit {
    text-decoration: none;
    display: flex;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    width: 30%;
    height: 30px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.063);
    border-radius: 12px;
    margin-top: -14px;
    margin-bottom: 5px;
    margin-left: 35%;
    font-size: 18px;
    cursor: pointer;
}

.noscript-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
    color: white; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamanho da fonte */
    z-index: 9999; /* Certifica-se de que está acima de outros elementos */
  }